<!-- Modal -->
  <div class="modal fade" id="api" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">API</h4>
        </div>
        <div class="modal-body">
          <p>Map and server pages can return json representations by adding the query <code>json=true</code> to the url.        
          <a href="/map/Golden Drought?json=true">Try it out.</a></p>
          <hr>
          <p class="text-warning"><strong>Note:</strong> <br> This API is not meant for heavy use.  Due to the light nature of 
            this app's hosting ("free"), you could very easily bring it to a hault with too many requests.  If you plan on using 
            this API for anything other than playing around (e.g. regularly grabbing lots of data with a script), please 
            <a href="http://www.github.com/bcbwilla">contact me</a> first.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
