      <hr>
      <footer>
      	<ul class="nav nav-pills pull-right">
            <li><a data-toggle="modal" href="#api">API</a></li>
      		<li><a href="https://github.com/bcbwilla/">Source</a></li>
          <li><a href="http://www.oc.tc">Official Overcast Network</a></li>
        </ul>
        <p><a href="http://www.electronexchange.net">ee</a></p>
      </footer>

    </div><!--/.fluid-container-->

    <br>

    {% include 'api.html' %}
    {% include 'about.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../assets/dist/js/bootstrap.min.js"></script>
