      <hr>
      <footer>
      	<ul class="nav nav-pills pull-right">
            <li><a data-toggle="modal" href="#api">API</a></li>
      		<li><a href="https://github.com/bcbwilla/gg">Source</a></li>
          <li><a href="http://www.oc.tc">Official Overcast Network</a></li>
        </ul>
        <p><a href="http://www.electronexchange.net">ee</a></p>
      </footer>

    </div><!--/.fluid-container-->

    <br>

    {% include 'api.html' %}
    {% include 'about.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../assets/dist/js/bootstrap.min.js"></script>
    <script src="../assets/dist/js/typeahead.min.js"></script>

    <!-- for search bar -->
    <script>
    window.localStorage.clear()
    $(document).ready(function() {
         $('#query').typeahead([{                              
              name: 'maps',         
              prefetch: '../data/maps',
              header: '<h4 class="tt-suggestion-sec">Maps</h4>'                                                  
             },
             {
              name: 'servers',
              prefetch: '../data/servers',
              header: '<h4 class="tt-suggestion-sec">Servers</h4>'
             },
             {
              name: 'mapmakers',
              prefetch: '../data/mapmakers',
              header: '<h4 class="tt-suggestion-sec">Map Makers</h4>'
             } 
]);
    $('.tt-query').css('background-color','#fff');
    });
    </script>
