<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}

    <!-- Load the charts -->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ longest.get_data_array() }}
        );

        var options = {
          title: '{{longest.name}}',
          titleTextStyle: {fontSize: '18', fontName: 'Lato', bold: 'false'},
          vAxis: {title: 'Average (minutes)'},
          legend: {position: 'none'},
          series: [{color: "{{colors[0]}}"}]                  
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('longest_maps'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ shortest.get_data_array() }}
        );

        var options = {
          title: '{{shortest.name}}',
          titleTextStyle: {fontSize: '18', fontName: 'Lato', bold: 'false'},
          vAxis: {title: 'Average (seconds)'},
          legend: {position: 'none'},
          series: [{color: "{{colors[1]}}"}]
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('shortest_maps'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ deadliest.get_data_array() }}
        );

        var options = {
          title: '{{deadliest.name}}',
          titleTextStyle: {fontSize: '18', fontName: 'Lato', bold: 'false'},
          vAxis: {title: 'Average Kills per Player per Minute'},
          legend: {position: 'none'},
          series: [{color: "{{colors[2]}}"}] 
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('deadliest_maps'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            {{ peaceful.get_data_array() }}
        );

        var options = {
          title: '{{peaceful.name}}',
          titleTextStyle: {fontSize: '18', fontName: 'Lato', bold: 'false'},
          vAxis: {title: 'Average Kills per Player per Minute'},
          legend: {position: 'none'},
          series: [{color: "{{colors[3]}}"}] 
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('peaceful_maps'));
        chart.draw(data, options);
      }
    </script>

    <div class="container">
        <br>

        <div class="row">

          <div class="col-md-6">
            <h2>Overcast Network: {{gm}}</h2>
          </div>

          <div class="col-md-6 pull left">
            <h2>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  Gamemode <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/">All</a></li>
                  <li><a href="/?gm=DTC">DTC</a></li>
                  <li><a href="/?gm=DTM">DTM</a></li>
                  <li><a href="/?gm=TDM">TDM</a></li>
                  <li><a href="/?gm=CTW">CTW</a></li>
                  <li><a href="/?gm=Mixed">Mixed</a></li>
                  <li><a href="/?gm=Gear">Gear</a></li>
                  <li><a href="/?gm=Blitz">Blitz</a></li>
                  <li><a href="/?gm=Rage">Rage</a></li>
                  <li><a href="/?gm=KOTH">KOTH</a></li>
                </ul>
              </div>
            </h2>
          </div>

        </div><!-- /.row -->

        <div class="row">
          <h3>Match Length</h3>
            <div class="col-md-6">
              <div id="longest_maps" style="width: 100%; height: 300px;"></div>
            </div>
            <div class="col-md-6">
              <div id="shortest_maps" style="width: 100%; height: 300px;"></div>
            </div>
        </div> <!-- /.row -->

        <div class="row">
          <h3>Combat</h3>
            <div class="col-md-6">
              <div id="deadliest_maps" style="width: 100%; height: 300px;"></div>
            </div>
          <div class="col-md-6">
            <div id="peaceful_maps" style="width: 100%; height: 300px;"></div>
          </div>
        </div> <!-- /.row -->


	{% include 'footer.html' %}

  </body>
</html>
