<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}

    <div class="container">
        <br><br><br>
    
        <div class="row">
          <div class="col-md-6 col-md-offset-3">     
        
            <table class="table table-condensed table-hover table-bordered">
              <thead>
                <tr>
                  <th><a href="/maps?sort=name">Map</a></th>
      <!--            <th><abbr title="Support coming soon!">Game Mode<abbr></th> -->
                  <th><a href="/maps?sort=avg_kills">Avg. Kills</a></th>
                  <th><a href="/maps?sort=avg_deaths">Avg. Deaths</a></th>
                  <th><a href="/maps?sort=avg_length">Avg. Length</a></th>
                  <th><a href="/maps?sort=n_matches">Matches</a></th>
                </tr>
              </thead>
              <tbody>
                {% for m in maps %}
                <tr>
                  {% if m.name != None %}
                  <td><a href="/map?n={{m.name}}">{{ m.name }}</a></td>
       <!--           <td> </td> -->
                  {% if m.avg_kills != None %}
                  <td>{{ m.avg_kills | round(2) }}</td>
                  <td>{{ m.avg_deaths | round(2) }}</td>
                  <td>{{ m.avg_length_s }}</td>
                  {% else %}
                  <td></td>
                  <td></td>
                  <td></td>
                  {% endif %}
                  <td>{{ m.n_matches }}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
            
            {% include 'pager.html' %}      


          </div>  <!-- /.col -->
        </div> <!-- /.row -->


	{% include 'footer.html' %}

  </body>
</html>
