    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GG!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if nav == "maps": %}
            <li class="active"><a href="/maps">Maps</a></li>
            <li><a href="/servers">Servers</a></li>
            <li><a href="/mapmakers">Authors</a></li>
            <li><a data-toggle="modal" href="#about">About</a></li>
            {% elif nav == "servers": %}
            <li><a href="/maps">Maps</a></li>
            <li class="active"><a href="/server">Servers</a></li>
            <li><a href="/mapmakers">Authors</a></li>
            <li><a data-toggle="modal" href="#about">About</a></li>
            {% elif nav == 'mapmakers': %}
            <li><a href="/maps">Maps</a></li>
            <li><a href="/servers">Servers</a></li>
            <li class="active"><a href="/mapmakers">Authors</a></li>
            <li><a data-toggle="modal" href="#about">About</a></li>
            {% else %}
            <li><a href="/maps">Maps</a></li>
            <li><a href="/servers">Servers</a></li>
            <li><a href="/mapmakers">Authors</a></li>
            <li><a data-toggle="modal" href="#about">About</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
