            <ul class="pager">
              {% if page == 1 %}
              <li class="previous disabled"><a href="">&larr; Previous</a></li>
              {% else %}
              <li class="previous"><a href="{{ base_url }}?page={{ page - 1 }}&sort={{ sort }}">&larr; Previous</a></li>
              {% endif %}
    
              {% if page < count %}
              <li class="next"><a href="{{ base_url }}?page={{ page + 1 }}&sort={{ sort }}">Next &rarr;</a></li>
              {% else %}
              <li class="next disabled"><a href="#">Next &rarr;</a></li>
              {% endif %}
            </ul>
